# This is a visualisation-cum-analysis notebook that reads CSV files, cleans the data and plots a graph of the data.

In [19]:
import numpy as np
import pandas as pd

:

In [4]:
# Import data
jan2023 = pd.read_csv('./2023-2024_cyclist_data/202301-divvy-tripdata.csv')
feb2023 = pd.read_csv('./2023-2024_cyclist_data/202302-divvy-tripdata.csv')
mar2023 = pd.read_csv('./2023-2024_cyclist_data/202303-divvy-tripdata.csv')
apr2023 = pd.read_csv('./2023-2024_cyclist_data/202304-divvy-tripdata.csv')
may2023 = pd.read_csv('./2023-2024_cyclist_data/202305-divvy-tripdata.csv')
jun2023 = pd.read_csv('./2023-2024_cyclist_data/202306-divvy-tripdata.csv')
jul2023 = pd.read_csv('./2023-2024_cyclist_data/202307-divvy-tripdata.csv')
aug2023 = pd.read_csv('./2023-2024_cyclist_data/202308-divvy-tripdata.csv')
sep2023 = pd.read_csv('./2023-2024_cyclist_data/202309-divvy-tripdata.csv')
oct2023 = pd.read_csv('./2023-2024_cyclist_data/202310-divvy-tripdata.csv')
nov2023 = pd.read_csv('./2023-2024_cyclist_data/202311-divvy-tripdata.csv')
dec2023 = pd.read_csv('./2023-2024_cyclist_data/202312-divvy-tripdata.csv')
jan2024 = pd.read_csv('./2023-2024_cyclist_data/202401-divvy-tripdata.csv')
feb2024 = pd.read_csv('./2023-2024_cyclist_data/202402-divvy-tripdata.csv')
mar2024 = pd.read_csv('./2023-2024_cyclist_data/202403-divvy-tripdata.csv')
apr2024 = pd.read_csv('./2023-2024_cyclist_data/202404-divvy-tripdata.csv')
may2024 = pd.read_csv('./2023-2024_cyclist_data/202405-divvy-tripdata.csv')
jun2024 = pd.read_csv('./2023-2024_cyclist_data/202406-divvy-tripdata.csv')
jul2024 = pd.read_csv('./2023-2024_cyclist_data/202407-divvy-tripdata.csv')
aug2024 = pd.read_csv('./2023-2024_cyclist_data/202408-divvy-tripdata.csv')

In [5]:
df = pd.concat([jan2023, feb2023, mar2023, apr2023, may2023, jun2023, jul2023, aug2023, sep2023, oct2023, nov2023, dec2023, jan2024, feb2024, mar2024, apr2024, may2024, jun2024, jul2024, aug2024])
df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,F96D5A74A3E41399,electric_bike,2023-01-21 20:05:42,2023-01-21 20:16:33,Lincoln Ave & Fullerton Ave,TA1309000058,Hampden Ct & Diversey Ave,202480.0,41.924074,-87.646278,41.930000,-87.640000,member
1,13CB7EB698CEDB88,classic_bike,2023-01-10 15:37:36,2023-01-10 15:46:05,Kimbark Ave & 53rd St,TA1309000037,Greenwood Ave & 47th St,TA1308000002,41.799568,-87.594747,41.809835,-87.599383,member
2,BD88A2E670661CE5,electric_bike,2023-01-02 07:51:57,2023-01-02 08:05:11,Western Ave & Lunt Ave,RP-005,Valli Produce - Evanston Plaza,599,42.008571,-87.690483,42.039742,-87.699413,casual
3,C90792D034FED968,classic_bike,2023-01-22 10:52:58,2023-01-22 11:01:44,Kimbark Ave & 53rd St,TA1309000037,Greenwood Ave & 47th St,TA1308000002,41.799568,-87.594747,41.809835,-87.599383,member
4,3397017529188E8A,classic_bike,2023-01-12 13:58:01,2023-01-12 14:13:20,Kimbark Ave & 53rd St,TA1309000037,Greenwood Ave & 47th St,TA1308000002,41.799568,-87.594747,41.809835,-87.599383,member

In [14]:
# Drop all rows with missing information
df = df.dropna()
df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,trip_duration
841,7FED56E160AFB564,classic_bike,2024-06-17 15:10:56.895,2024-06-17 15:12:30.744,California Ave & Division St,13256,California Ave & Division St,13256,41.903029,-87.697474,41.903029,-87.697474,casual,1.564150
842,84260B28A7C9BBA1,classic_bike,2024-06-17 15:10:35.545,2024-06-17 15:12:12.398,California Ave & Division St,13256,California Ave & Division St,13256,41.903029,-87.697474,41.903029,-87.697474,casual,1.614217
1306,95367640BB007C8D,classic_bike,2024-06-08 16:11:10.249,2024-06-08 16:21:25.419,California Ave & Division St,13256,California Ave & Milwaukee Ave,13084,41.903029,-87.697474,41.922695,-87.697153,casual,10.252833
1327,4DF083CCDC1B950F,electric_bike,2024-06-07 21:33:36.986,2024-06-07 21:45:23.864,California Ave & Division St,13256,Wood St & Chicago Ave,637,41.903013,-87.697619,41.895634,-87.672069,casual,11.781300
1374,BFAD51AB1A4887B2,classic_bike,2024-06-24 17:51:13.687,2024-06-24 17:56:09.707,California Ave & Milwaukee Ave,13084,California Ave & Milwaukee Ave,13084,41.922695,-87.697153,41.922695,-87.697153,casual,4.933667

In [20]:
# Add a column for trip duration in minutes
df['trip_duration'] = (df['ended_at'] - df['started_at']).dt.total_seconds() / 60
df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,trip_duration
841,7FED56E160AFB564,classic_bike,2024-06-17 15:10:56.895,2024-06-17 15:12:30.744,California Ave & Division St,13256,California Ave & Division St,13256,41.903029,-87.697474,41.903029,-87.697474,casual,1.564150
842,84260B28A7C9BBA1,classic_bike,2024-06-17 15:10:35.545,2024-06-17 15:12:12.398,California Ave & Division St,13256,California Ave & Division St,13256,41.903029,-87.697474,41.903029,-87.697474,casual,1.614217
1306,95367640BB007C8D,classic_bike,2024-06-08 16:11:10.249,2024-06-08 16:21:25.419,California Ave & Division St,13256,California Ave & Milwaukee Ave,13084,41.903029,-87.697474,41.922695,-87.697153,casual,10.252833
1327,4DF083CCDC1B950F,electric_bike,2024-06-07 21:33:36.986,2024-06-07 21:45:23.864,California Ave & Division St,13256,Wood St & Chicago Ave,637,41.903013,-87.697619,41.895634,-87.672069,casual,11.781300
1374,BFAD51AB1A4887B2,classic_bike,2024-06-24 17:51:13.687,2024-06-24 17:56:09.707,California Ave & Milwaukee Ave,13084,California Ave & Milwaukee Ave,13084,41.922695,-87.697153,41.922695,-87.697153,casual,4.933667

In [21]:
# Add a column for the day of the week
df['day_of_week'] = df['started_at'].dt.day_name()
df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,trip_duration,day_of_week
841,7FED56E160AFB564,classic_bike,2024-06-17 15:10:56.895,2024-06-17 15:12:30.744,California Ave & Division St,13256,California Ave & Division St,13256,41.903029,-87.697474,41.903029,-87.697474,casual,1.564150,Monday
842,84260B28A7C9BBA1,classic_bike,2024-06-17 15:10:35.545,2024-06-17 15:12:12.398,California Ave & Division St,13256,California Ave & Division St,13256,41.903029,-87.697474,41.903029,-87.697474,casual,1.614217,Monday
1306,95367640BB007C8D,classic_bike,2024-06-08 16:11:10.249,2024-06-08 16:21:25.419,California Ave & Division St,13256,California Ave & Milwaukee Ave,13084,41.903029,-87.697474,41.922695,-87.697153,casual,10.252833,Saturday
1327,4DF083CCDC1B950F,electric_bike,2024-06-07 21:33:36.986,2024-06-07 21:45:23.864,California Ave & Division St,13256,Wood St & Chicago Ave,637,41.903013,-87.697619,41.895634,-87.672069,casual,11.781300,Friday
1374,BFAD51AB1A4887B2,classic_bike,2024-06-24 17:51:13.687,2024-06-24 17:56:09.707,California Ave & Milwaukee Ave,13084,California Ave & Milwaukee Ave,13084,41.922695,-87.697153,41.922695,-87.697153,casual,4.933667,Monday

In [23]:
# Add a column for the hour of the day
df['hour_of_day'] = df['started_at'].dt.hour
df['month_of_year'] = df['started_at'].dt.month
df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,trip_duration,day_of_week,hour_of_day,month_of_year
841,7FED56E160AFB564,classic_bike,2024-06-17 15:10:56.895,2024-06-17 15:12:30.744,California Ave & Division St,13256,California Ave & Division St,13256,41.903029,-87.697474,41.903029,-87.697474,casual,1.564150,Monday,15,6
842,84260B28A7C9BBA1,classic_bike,2024-06-17 15:10:35.545,2024-06-17 15:12:12.398,California Ave & Division St,13256,California Ave & Division St,13256,41.903029,-87.697474,41.903029,-87.697474,casual,1.614217,Monday,15,6
1306,95367640BB007C8D,classic_bike,2024-06-08 16:11:10.249,2024-06-08 16:21:25.419,California Ave & Division St,13256,California Ave & Milwaukee Ave,13084,41.903029,-87.697474,41.922695,-87.697153,casual,10.252833,Saturday,16,6
1327,4DF083CCDC1B950F,electric_bike,2024-06-07 21:33:36.986,2024-06-07 21:45:23.864,California Ave & Division St,13256,Wood St & Chicago Ave,637,41.903013,-87.697619,41.895634,-87.672069,casual,11.781300,Friday,21,6
1374,BFAD51AB1A4887B2,classic_bike,2024-06-24 17:51:13.687,2024-06-24 17:56:09.707,California Ave & Milwaukee Ave,13084,California Ave & Milwaukee Ave,13084,41.922695,-87.697153,41.922695,-87.697153,casual,4.933667,Monday,17,6

In [25]:
# Calculate total distance by start and end latitude and longitude
df["lat_diff"] = df["end_lat"] - df["start_lat"]
df["lon_diff"] = df["end_lng"] - df["start_lng"]
df["distance"] = np.sqrt(
    (df["lat_diff"] * 111) ** 2
    + (df["lon_diff"] * 111 * np.cos(np.radians(df["start_lat"]))) ** 2
)
df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,trip_duration,day_of_week,hour_of_day,month_of_year,lat_diff,lon_diff,distance
841,7FED56E160AFB564,classic_bike,2024-06-17 15:10:56.895,2024-06-17 15:12:30.744,California Ave & Division St,13256,California Ave & Division St,13256,41.903029,-87.697474,41.903029,-87.697474,casual,1.564150,Monday,15,6,0.000000,0.000000,0.000000
842,84260B28A7C9BBA1,classic_bike,2024-06-17 15:10:35.545,2024-06-17 15:12:12.398,California Ave & Division St,13256,California Ave & Division St,13256,41.903029,-87.697474,41.903029,-87.697474,casual,1.614217,Monday,15,6,0.000000,0.000000,0.000000
1306,95367640BB007C8D,classic_bike,2024-06-08 16:11:10.249,2024-06-08 16:21:25.419,California Ave & Division St,13256,California Ave & Milwaukee Ave,13084,41.903029,-87.697474,41.922695,-87.697153,casual,10.252833,Saturday,16,6,0.019666,0.000321,2.183087
1327,4DF083CCDC1B950F,electric_bike,2024-06-07 21:33:36.986,2024-06-07 21:45:23.864,California Ave & Division St,13256,Wood St & Chicago Ave,637,41.903013,-87.697619,41.895634,-87.672069,casual,11.781300,Friday,21,6,-0.007379,0.025550,2.264116
1374,BFAD51AB1A4887B2,classic_bike,2024-06-24 17:51:13.687,2024-06-24 17:56:09.707,California Ave & Milwaukee Ave,13084,California Ave & Milwaukee Ave,13084,41.922695,-87.697153,41.922695,-87.697153,casual,4.933667,Monday,17,6,0.000000,0.000000,0.000000

In [26]:
df = df.drop(
    columns=[
        "start_station_name",
        "end_station_name",
        "start_station_id",
        "end_station_id",
        "start_lat",
        "start_lng",
        "end_lat",
        "end_lng",
        "lat_diff",
        "lon_diff",
    ]
)
df.head()

,ride_id,rideable_type,started_at,ended_at,member_casual,trip_duration,day_of_week,hour_of_day,month_of_year,distance
841,7FED56E160AFB564,classic_bike,2024-06-17 15:10:56.895,2024-06-17 15:12:30.744,casual,1.564150,Monday,15,6,0.000000
842,84260B28A7C9BBA1,classic_bike,2024-06-17 15:10:35.545,2024-06-17 15:12:12.398,casual,1.614217,Monday,15,6,0.000000
1306,95367640BB007C8D,classic_bike,2024-06-08 16:11:10.249,2024-06-08 16:21:25.419,casual,10.252833,Saturday,16,6,2.183087
1327,4DF083CCDC1B950F,electric_bike,2024-06-07 21:33:36.986,2024-06-07 21:45:23.864,casual,11.781300,Friday,21,6,2.264116
1374,BFAD51AB1A4887B2,classic_bike,2024-06-24 17:51:13.687,2024-06-24 17:56:09.707,casual,4.933667,Monday,17,6,0.000000

In [27]:
# Save the cleaned data to a new CSV file
df.to_csv("2023-2024_cyclist_data_cleaned.csv", index=False)